.playerStats {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.player-stuff{
   display: flex;
   margin-top: 0px;
   margin-bottom: 0px;

}

.graphMain > h3{
    margin-top: 50px;
    margin-left: 7%;
}

.playerOne, .playerTwo {
    min-width: 40vw;
    max-width: 40vw;
    border: solid 5px var(--border);
    display: flex;
    justify-content: center;
    padding: 0px;
}

.playerInfo > h2 {
    padding: 0px;
    margin: 0px;
}

.playerInfo {
    color: white;
}

.comparePlayers {
    display: flex;
    justify-content: space-around;
}

.dropdowns {
    display: flex;
    justify-content: space-around;
}

.compareBtn {
    padding:10px;
    border-radius: 10px;
    background-color:transparent;
    border: solid 5px var(--border);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to left, var(--background) 50%, var(--text) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.compareBtn:hover {
    padding:10px;
    border-radius: 10px;
    border: solid 5px var(--border);
    background-color: var(--text);
    color: var(--background);
    font-weight: bold;
    cursor: pointer;
    background-position: left;
    
}


.chartDiv {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.yAxis {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    width: 7%;
    margin: 0px;
    height: 50vh;
}

.graphMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 80%;
    height: 50vh;
}

.filters {
    display: flex;
    margin: 0px;
}

#submit {
    height: fit-content;
}

.submitDiv {
    display: flex;
    align-items: flex-end;
}

#asterix {
    padding-top: 20px;
}

 /* https://www.w3schools.com/howto/howto_custom_select.asp for styling the select more later*/
select{
    margin: 5px;
    background:transparent;
    border: 2px solid var(--border);
    border-radius: 10px;
    color: var(--text);
    font-size: 20px;
    background-color: transparent;
}


select > option{
    background:transparent;
    background-color: var(--background);
    
    
}

.bonusStats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.axis {
    width: 150px;
}

#yAxisSelect {
    width: 100%;
}

.statistics > tr > th {
    font-size: 15px;
    padding: 0px;
}
 
.statistics > tr > td {
    font-size: 15px;
    padding: 10px;
}

.generalStats {
    display: flex;
}

.photoDiv {
    display: flex;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.waiting {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartButton {
    display: flex;
    justify-content: center;
}

