:root {
    --background: #0D1821;
    --text: #41EAD4;
    --border: #F71735;
    --font: 'Kanit', sans-serif;
  }

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.rules-headers {
    padding-left: 0px;
    font-size: 30px;
}

.fpl-about, .model-about {
    display: flex;
    flex-direction: column;
    align-items: left;
   
    min-height: 50vh;
    
    border-bottom: 5px solid var(--border);
    border-radius: 0px;
    
}

.fpl-about > h1, .model-about > h1{
    font-size: 40px;
}


.fpl-rules {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
.fpl-rules > li{
    margin: 5px;

}


section > h3{
    font-size: 25px;
}

.model {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 25px;
   
}

.model > button {
    margin-top: 10px;
    font-family: var(--font);
    cursor: pointer;
    text-decoration: none;
    padding:10px;
    border-radius: 10px;
    background-color:transparent;
    border: solid 5px var(--border);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to left, var(--background) 50%, var(--text) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.model > button:hover {
    font-size: 20px;
    font-family: var(--font);
    border-radius: 10px;
    border: solid 5px var(--border);
    padding:10px;
    border-radius: 10px;
    border: solid 5px var(--border);
    background-color: var(--text);
    color: var(--background);
    font-weight: bold;
    cursor: pointer;
    background-position: left;
}

.fpl-about, .model-about {
    display: flex;
    flex-direction: column;
    align-items: left;
    
}


div {
    border-radius: 10px;
    margin: 20px;
}

section {
    padding-bottom: 2vh;
}
