#instructions > ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:#41EAD4 ;
    
}

#instructions{
    font-size: 20px;
}
#instructions > p{
    font-size: 25px;
    font-weight: bold;
}

#instructions > ul > li > a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:#41EAD4 ;
}
#instructions > ul > li > a:hover{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:#F71735 ;
    font-weight: bold;
}

