:root {
    --background: #0D1821;
    --text: #41EAD4;
    --border: #F71735;
    --font: 'Kanit', sans-serif;
  }

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font);
    background-color: var(--background);
    color: var(--text);
}

h2 {
    padding: 10px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-height: 50vh;
    max-height: 50vh;
}

.dream-main-div {
    min-height: 30vh;
    max-height: 30vh;
    border-top: solid 5px var(--border);
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dream, .recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dream > button, .recommend > button {
    margin-top: 10px;
    font-family: var(--font);
    cursor: pointer;
    text-decoration: none;
    padding:10px;
    border-radius: 10px;
    background-color:transparent;
    border: solid 5px var(--border);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to left, var(--background) 50%, var(--text) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.dream > button:hover, .recommend > button:hover {

    font-size: 20px;
    font-family: var(--font);
    border-radius: 10px;
    border: solid 5px var(--border);
    padding:10px;
    border-radius: 10px;
    border: solid 5px var(--border);
    background-color: var(--text);
    color: var(--background);
    font-weight: bold;
    cursor: pointer;
    background-position: left;
}

div {
    border-radius: 10px;
    margin: 10px;
}

button > a{
    text-decoration: none;
    color: var(--text);
}
button > a:hover{
    text-decoration: none;
    color: var(--background);
    
}