:root {
  --background: #0D1821;
  --text: #41EAD4;
  --border: #F71735;
  --font: 'Kanit', sans-serif;
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  max-height: 20vh;
  border-bottom: solid 5px var(--border);
  border-radius: 0px;
}

.nav-item {
  padding: 10px;
  margin-left: 20px;
  /* font-weight: bold; */
  font-family: var(--font);
  font-size: 20px;
  color: var(--text);
  text-decoration: none;

}

.nav-item:hover {
  color: var(--text);
  border: 5px solid var(--border);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.current {
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
  font-family: var(--font);
  font-size: 20px;
  color: var(--text);
  border: 5px solid var(--border);
  border-radius: 10px;
  text-decoration: none;
}

.current:hover {
  color: var(--text);
  border: 5px solid var(--border);
  border-radius: 10px;
}

h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 50px;
}

ul {
  display: flex;
  justify-content: flex-end;
}

span {
  color: var(--border);
}
