:root {
    --background: #0D1821;
    --text: #41EAD4;
    --border: #F71735;
    --font: 'Kanit', sans-serif;
  }

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


h2 {
    padding: 10px;
}

.login-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
}

.form-div{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.login-details > input{
    margin:5px;
    background:transparent;
    border:none;
    border-bottom: 5px solid var(--text);
    color: var(--text);
    padding: 5px;
    font-size: 20px;
    
}

.user-id{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-id > input{
    margin:5px;
    background:transparent;
    border:none;
    border-bottom: 5px solid var(--text);
    color: var(--text);
    padding: 5px;
    font-size: 20px;
}

.user-id > label {
    margin: 10px;
    font-size: 20px;
}


.login-details > label {
    margin: 10px;
    font-size: 20px;
}

.teams-rec{
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--border) ;
    border-radius: 0px;   
    min-height: 30vh;
}

.user-team, .user-op-team{
    border: 5px solid var(--border);
    text-align: center;
    min-height: 609.33px;
    max-height: 609.33px;
    min-width: 522px;
    max-width: 522px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../../public/imgs/cropped_football_pitch.jpg');
    background-size:512px 600px ;
    background-repeat: no-repeat;
    font-size: 15px;
    
}

.goalies{
    color: var(--background);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.goalies{
    margin:0px;
}
.goalies > p {
    margin: 5px;
    margin-bottom: none;
    margin-top: none;
}

.defenders, .mids, .forwards {
    margin: 0px;
    color: var(--background);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 25%;
}



#submit-button, .button, #submit-signup{
    margin-top: 10px;
    font-family: var(--font);
    cursor: pointer;
    padding:10px;
    border-radius: 10px;
    background-color:transparent;
    border: solid 5px var(--border);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to left, var(--background) 50%, var(--text) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

}

#submit-button:hover, .button:hover, #submit-signup:hover{
    padding:10px;
    border-radius: 10px;
    border: solid 5px var(--border);
    background-color: var(--text);
    color: var(--background);
    font-weight: bold;
    cursor: pointer;
    background-position: left;
}
.suggestion{
    border: none;
    border-top: 5px solid var(--border);
    border-radius: 0px;
    padding: 20px;
}
.suggestion-div{
    display: flex;
    align-items: center;
    justify-content: center;   
   
}

.suggestion > p > span{
    color: var(--text);
    font-style: italic;

}

.team-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-div > p{
    font-size: 25px;
}

div {
    border-radius: 10px;
    margin: 20px;
}


.content > #registerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form-div > hr{
    border: 2px solid var(--border);
}

#registerForm > .form-inputs{
    margin: 5px;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 5px solid var(--border);
    color: #41EAD4;
    font-size: 25px;
}

#registerForm > label{
    font-size: 20px;
}

