:root {
    --background: #0D1821;
    --text: #41EAD4;
    --border: #F71735;
    --font: 'Kanit', sans-serif;
  }

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


h2 {
    padding: 10px;
}

.login-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
}

.form-div{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.login-details > input{
    margin:5px;
    background:transparent;
    border:none;
    border-bottom: 5px solid var(--text);
    color: var(--text);
    padding: 5px;
    font-size: 20px;
    
}

.user-id{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-id > input{
    margin:5px;
    background:transparent;
    border:none;
    border-bottom: 5px solid var(--text);
    color: var(--text);
    padding: 5px;
    font-size: 20px;
}

.user-id > label {
    margin: 10px;
    font-size: 20px;
}


.login-details > label {
    margin: 10px;
    font-size: 20px;
}

.teams-rec{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid var(--border) ;
    border-radius: 0px;   
    min-height: 30vh;
}

.user-team, .user-op-team{
    border: 5px solid var(--border);
    text-align: center;
    min-height: 120vh;
    min-width: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../../public/imgs/football_pitch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 15px;
}

.goalies{
    color: var(--background);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.goalies > p {
    margin: 5px;
    margin-bottom: none;
    margin-top: none;
}

.defenders, .mids, .forwards {
    color: var(--background);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}



#submit-button, .button{
    margin-top: 10px;
    background: transparent;
    color: var(--text);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font);
    border-radius: 10px;
    border: solid 5px var(--border);
    cursor: pointer;

}

.suggestion{
    border: none;
    border-top: 5px solid var(--border);
    border-radius: 0px;
    padding: 20px;
}
.suggestion-div{
    display: flex;
    align-items: center;
    justify-content: center;   
   
}

.suggestion > p > span{
    color: var(--text);
    font-style: italic;

}

.team-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    border-radius: 10px;
    margin: 20px;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    color: #F71735;
    
}

.wrapper {
    margin: 70px auto;
    padding: 20px;
    background-color: var(--text);
    width: 30%;
    position: relative;
    border-radius: 10px;
}

.wrapper h2 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}