:root {
    --background: #0D1821;
    --text: #41EAD4;
    --border: #F71735;
    --font: 'Kanit', sans-serif;
  }

.dream-team {
  padding: 50px;
  
  text-align: center;
  border: solid 5px var(--border);
  border-radius: 10px;

  min-width: 100vh;
  max-width: 140vh;
  
  min-height: 190vh;
  max-height: 360vh;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/imgs/football_pitch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
 
 
}

.dream-team-defenders, .dream-team-midfielders, .dream-team-attackers, .dream-team-goalkeeper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: var(--background);
  font-weight: bold;
}
