:root {
    --background: #0D1821;
    --text: #41EAD4;
    --border: #F71735;
    --font: 'Kanit', sans-serif;
  }

.dream-team {
  padding: 50px;
  text-align: center;
  border: solid 5px var(--border);
  border-radius: 10px;
  max-width: 100vh;
  min-width: 100vh;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/imgs/football_pitch.jpg');
  background-size: cover;

}
